
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}


header {
	padding-top: 30px;
	background-image: url("../img/background.png");
	background-size: cover;
	background-position: center;
  background-attachment: fixed;
	height: 75vh;
  color: white;
}

header h1 {
  margin-top: 100px;
}

header h1{
  font-size: 75px;
  letter-spacing: 35px;
  text-transform: uppercase;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: black;
  color: white;
	z-index: 100;
}

nav a {
	font-weight: 600;
	letter-spacing: 0.75px;
	padding: 20px 60px;
	display: inline-block;
	border-bottom: none;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #45AEB1;
  font-weight: 600;
}

a:hover {
	color: #BAB5AC;
	transition: color .3s ease-in-out;
}

ul a {
	text-transform: none;
}

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	text-transform: none;
	letter-spacing: .02em;
	text-align: center;
	color: #44545E;
	font-size: 18px;
}

section {
	padding: 0 30px 54.4px 30px;
	margin: 0px;
	text-align: left;
}

aside, #about {
  padding: 0 30px 54.4px 30px;
	width: 70%;
	text-align: left;
}

.wrap {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.article-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

aside {
	width: 26%;
	text-align: left;
	padding-right: 16px;
  padding-top: 48px;
}

aside h3 {
	margin-bottom: 19.2px;
}

aside img {
	margin: 32px 0;
}



#testimonials {
	font-size: 17.6px;
	line-height: 1.1;
  background-color: #45AEB1;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#gallery {
	width: 100%;
  //padding-bottom: 0px;
  background-color: #45AEB1;
  color: white;
  margin-left: auto;
  margin-right: auto;
}



input {
	margin-bottom: 12px;
	margin-right: 30px;
	padding: 11px 10px;
	outline: 0;
	width: 300px;
	border: 2;
	text-align: center;
}

textarea {
	width: 100%;
	display: block;
}

input, textarea {
	border: 2px solid #45AEB1;
	margin-bottom: 12px;
	padding: 10px 10px;
	outline: 0;
}


footer {
	background-color: #000000;
	overflow: auto;
}

footer .wrap {
	padding: 10px 10px;
}

.social-links a {
	font-size: 30px;
	padding: 15px;
	margin-bottom: 30px;
	display: inline-block;
	color: #45AEB1;
}

/*Gallery slider*/

.carousel-wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto 30px;
	overflow: hidden;
}

.slides {
	transition: all .3s ease-in-out;
	display: flex;
	width: 400%;
}

img .slides {
	align-self: center;
}

button {
	background-color: #3C4A53;
	border: none;
	font-size: .9rem;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 8px 15px;
	margin: 0 10px;
}
